<div [formGroup]="parentForm">
  <mat-password-strength #passwordComponent
                         hidden
                         [min]="8"
                         [max]="60"
                         [password]="password.value">
  </mat-password-strength>
  <div class="mat-h2">Set up your password</div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input #password matInput required maxlength="129" formControlName="password" [type]="hidePassword ? 'password' : 'text'">
      <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="parentForm.controls['password'].hasError('required')">
        Enter password
      </mat-error>
      <mat-error *ngIf="parentForm.controls['password'].hasError('maxlength')">
        Password has to be max 60 characters long
      </mat-error>
    </mat-form-field>
  </div>
  <div class="passwordStrengthInfo">
    <mat-password-strength-info
      [passwordComponent]="passwordComponent">
    </mat-password-strength-info>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Repeat password</mat-label>
      <input matInput required maxlength="129" formControlName="repeatPassword" [type]="hideRepeatPassword ? 'password' : 'text'"
             [errorStateMatcher]="errorMatcher">
      <button type="button" mat-icon-button matSuffix (click)="hideRepeatPassword = !hideRepeatPassword">
        <mat-icon>{{hideRepeatPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="parentForm.hasError('passwordMismatch')">
        Entered passwords have to match
      </mat-error>
    </mat-form-field>
  </div>
</div>
